<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./head") %>
</head>
<body>
    <div class="container" id="aCon">
        <div class="all titlebox">
            <div class="tbox">
                <p class="t1">책 읽는 마을 Billage의</p>
                <p class="t2">8마리 토끼 모아보기</p>
            </div>
            <img class="i1" src="/images/running.png">
        </div>
        
        <div class="typebox">
            <div class="type-item">
                <a class="typelink" href="/result/1">
                    <div class="type-img"><img class="type-img-src" src="/images/type1.png"></div>
                    <div class="type-name">파티의 중심<br>나는야 미러볼</div>
                </a>
            </div>
            <div class="type-item">
                <a class="typelink" href="/result/2">
                    <div class="type-img"><img class="type-img-src" src="/images/type2.png"></div>
                    <div class="type-name">나는 생각한다,<br> 고로 존재한다</div>
                </a>        
            </div>
            <div class="type-item">
                <a class="typelink" href="/result/3">
                    <div class="type-img"><img class="type-img-src" src="/images/type3.png"></div>
                    <div class="type-name">팔방 x 팔방 = <br>64방미인</div>
                </a>        
            </div>
            <div class="type-item">
                <a class="typelink" href="/result/4">
                    <div class="type-img"><img class="type-img-src" src="/images/type4.png"></div>
                    <div class="type-name">단호박 먹은 CEO<br><br></div>
                </a>        
            </div>
            <div class="type-item blank">
                <img class="logo-img" src="/images/logo_2.png">
            </div>
            <div class="type-item">
                <a class="typelink" href="/result/5">
                    <div class="type-img"><img class="type-img-src" src="/images/type5.png"></div>
                    <div class="type-name">세계 4대 성인<br>그리고 바로 당신</div>
                </a>        
            </div>
            <div class="type-item">
                <a class="typelink" href="/result/6">
                    <div class="type-img"><img class="type-img-src" src="/images/type6.png"></div>
                    <div class="type-name">21세기 콜롬버스<br><br></div>
                </a>        
            </div>
            <div class="type-item">
                <a class="typelink" href="/result/7">
                    <div class="type-img"><img class="type-img-src" src="/images/type7.png"></div>
                    <div class="type-name">"숙제 있었는데요?"<br>모범생 반장</div>
                </a>        
            </div>
            <div class="type-item">
                <a class="typelink" href="/result/8">
                    <div class="type-img"><img class="type-img-src" src="/images/type8.png"></div>
                    <div class="type-name">해바라기말고<br>친구바라기</div>
                </a>        
            </div>
        </div>
        <button class="again">테스트 다시 하기</button>
    </div>

    <script type="module" src="/javascripts/result.js"></script>
</body>
</html>