<div class="row">
    <div class="col s12">
        <div class="logo-part">
            <img class="logo-img" src="/images/logo.png">
            <p>독립서점의 부흥을 위해 활동하고 있습니다.</p>
            <p>#책읽는마을Billage</p>
        </div>
    </div>
    <div class="col s6">
        <div class="connect-part">
            <div class="label connect">Connect</div>
            <p class="label-item"><a href="https://m.blog.naver.com/billage_book" target="_blank">Blog</a></p>
            <p class="label-item"><a href="https://www.instagram.com/billage_book/" target="_blank">Instagram</a></p>
        </div>
    </div>
    <div class="col s6">
        <div class="contact-part">
            <div class="label contact">Contact</div>
            <p>bookbillage@gmail.com</p>
        </div>
    </div>
    <div class="col s12">
        <div class="line"></div>
        <div class="developer-part">
            <div class="label developer">Developer</div>
            <p class="name">@wonkyeonglee</p>
            <a href="https://github.com/onek19" target="_blank"><p class="label-item"><i class="fab fa-github-alt"></i></p></a>
            <a href="https://www.instagram.com/evevevlin/" target="_blank"><p class="label-item"><i class="fab fa-instagram"></i></p></a>
            <a href="https://blog.naver.com/onek19" target="_blank"><p class="label-item blog">N</p></a>
        </div>
    </div>
    <div class="col s12">
        <div class="copyright">@Copyright 2021</div>
    </div>
</div>