<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, minimum-scale=1.0">

<meta name="name" content="심리테스트, 성격 유형 테스트, 성격 테스트, mbti 테스트, 빌리지, 토끼 테스트, billage, Billage, test, mbti, MBTI" />
<meta name="robots" content="index,follow"/>
<meta name="Author" content="wonkyeonglee"/>

<meta property="og:type" content="website">
<meta property="og:title" content="나는 무슨 토끼일까?">
<meta property="og:description" content="빌리지와 함께하는 성격 유형 테스트">
<meta property="og:image" content="https://billage-test.web.app/images/cover.jpg">
<meta property="og:url" content="https://billage-test.web.app/">

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="https://billage-test.web.app/" />
<meta name="twitter:title" content="나는 무슨 토끼일까?" />
<meta name="twitter:description" content="빌리지와 함께하는 성격 유형 테스트" /> 
<meta name="twitter:image" content="https://billage-test.web.app/images/cover.jpg" />

<title>나는 무슨 토끼일까?</title>

<!-- web font -->
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean" rel="stylesheet">

<!-- my css  -->
<link rel="stylesheet" href="/stylesheets/main.css">

<!-- font awesome  -->
<script src="https://kit.fontawesome.com/ec322a7b9e.js" crossorigin="anonymous"></script>