<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./head") %>
</head>
<body>
    <div class="container" id="iCon">
        <p class="itest">성격 유형 테스트</p>
        <p class="ititle"><mark>나는 무슨 토끼일까?</mark></p>
        <div class="landingImgCon">
            <img class="landing-img" src="/images/landing.png">
        </div>
        <button class="srt" href="/question">테스트<br>시작하기</button>
        <div class="logoCon">
            <img class="logo-img" src="/images/logo.png">
        </div>
    </div>

    <script>
        const srt = document.querySelector('.srt');
        srt.onclick = () => {
            location.href = '/question';
        }
    </script>
</body>
</html>