<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./head") %>
</head>
<body>
    <div class="container" id="qCon">
        <div class="p-label"></div>
        <div class="progress">
            <div class="progress-bar"></div>
        </div>
        <div class="question">
            <div class="subq"></div>
            <div class="imageq"></div>
            <div class="mainq"></div>
        </div>
        <div class="options"></div>
        <div class="loading">
            <img class="loading-img" src="/images/loading.gif">
            <div class="loading-txt">분석 중이에요 !</div>
        </div>
    </div>
    <script type="module" src="/javascripts/main.js"></script>
</body>
</html>